<div class="jumbotron">
  <h1 class="title">一休工作室</h1>
  <p class="slogan">一休工作室是一个专注于手工皮革用品的工作室。
  <br>
  我们诚挚邀请用心创作、怀抱梦想的手作人加入。
  <br>
   让手工皮具超越工业化生产的产品。
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://oon3erbcp.bkt.clouddn.com/maps-and-flags.png" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>深圳CBD</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://oon3erbcp.bkt.clouddn.com/mailing.png" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>info@yixiu.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://oon3erbcp.bkt.clouddn.com/mobile-phone.png" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>0755-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
